<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <span style="font-size: 0.8em">EntrevistaABP</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-center text-center"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/"> <i class="fas fa-home"></i> Home </a>
        <a *ngIf="selectedUserRole === 'cliente'" class="nav-link" routerLink="/cliente/misViajes">
          <i class="fas fa-plane"></i> Mis Viajes
        </a>
        <a
          *ngIf="selectedUserRole === 'admin'"
          class="nav-link"
          routerLink="admin/travels/list-travel"
        >
          <i class="fas fa-plane"></i> Viajes
        </a>
        <a
          *ngIf="selectedUserRole === 'admin'"
          class="nav-link"
          routerLink="admin/pasajeros/list-pasajeros"
        >
          <i class="fas fa-user"></i> Pasajeros
        </a>
      </div>
    </div>
    <div class="ml-auto">
      <select
        [(ngModel)]="selectedUserRole"
        (change)="onUserTypeChange()"
        style="border: 0px"
        class="form-select bg-light text-dark"
      >
        <option value="cliente">Cliente</option>
        <option value="admin">Admin</option>
      </select>
    </div>
  </div>
</nav>
