/* Agrega estas clases CSS a tu archivo de estilos */
.travel-form {
    
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center; /* Alinea el contenido al centro horizontalmente */
    
  }
 