<form style="display: flex;flex-direction:column ;height: 5000px;align-items: center;" (ngSubmit)="createTravel()" #travelForm="ngForm">
    
  <div >
    <label for="fechaSalida">Fecha de Salida:</label>
    <input type="date" id="fechaSalida" [(ngModel)]="trave.fechaSalida" name="fechaSalida">
  </div>
  <div>
      <label for="fechaLlegada">Fecha de Llegada:</label>
      <input type="date" id="fechaLlegada" [(ngModel)]="trave.fechaLlegada" name="fechaLlegada">
    </div>
    <br>
    <div class="mb-3">
      <label for="origen">Origen</label>
      <input  [(ngModel)]="trave.origen" type="text" class="form-control" id="origen" name="origen" aria-describedby="emailHelp">
    </div>
    <br>
    <div class="mb-3">
      <label for="destino" class="form-label">Destino</label>
      <input [(ngModel)]="trave.destino" type="text" id="destino" name="destino" class="form-control">
    </div>
    <br>
    <div class="form-group">
      <label for="medioTransporte">Medio de Transporte</label>
      <select class="form-control" id="medioTransporte" [(ngModel)]="trave.medioTransporte" name="medioTransporte">
        <option [value]="transporteEnum.Tren">Tren</option>
        <option [value]="transporteEnum.Avion">Avión</option>
        <option [value]="transporteEnum.Micro">Micro</option>
      </select>
    </div>
    <br>
    <div>
      <button type="submit" class="btn btn-primary" style="display: flex; text-align: center;">Crear</button>
    </div>
</form>