.text {
  text-align: start;
  font-size: 2rem;
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  margin-bottom: 3%;
  margin-top: 3%;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.text:hover {
  transform: scale(1.05);
}
