<div  *ngIf="travelDetails" class="travel-details">
  <h2 class="details-title">Detalles del Viaje</h2>
  <div class="detail-row">
      <strong>Origen:</strong>
      <span *ngIf="!editingOrigin" class="detail-value">{{ travelDetails.origen }} <i class="fas fa-pencil-alt edit-icon" (click)="editarCampo('origen')"></i></span>
      <input *ngIf="editingOrigin" [(ngModel)]="travelDetails.origen" class="detail-input" (blur)="guardarCampo('origen')" (keyup.enter)="guardarCampo('origen')" />
  </div>

  <div class="detail-row">
      <strong>Destino:</strong>
      <span *ngIf="!editingDestination" class="detail-value">{{ travelDetails.destino }} <i class="fas fa-pencil-alt edit-icon" (click)="editarCampo('destino')"></i></span>
      <input *ngIf="editingDestination" [(ngModel)]="travelDetails.destino" class="detail-input" (blur)="guardarCampo('destino')" (keyup.enter)="guardarCampo('destino')" />
  </div>

  <div class="detail-row">
      <strong>Fecha de Llegada:</strong>
      <span *ngIf="!editingArrivalDate" class="detail-value">{{ travelDetails.fechaLlegada }} <i class="fas fa-pencil-alt edit-icon" (click)="editarCampo('fechaLlegada')"></i></span>
      <input *ngIf="editingArrivalDate" type="date" [(ngModel)]="travelDetails.fechaLlegada" class="detail-input" (blur)="guardarCampo('fechaLlegada')" (keyup.enter)="guardarCampo('fechaLlegada')" />
  </div>

  <div class="detail-row">
      <strong>Fecha de Salida:</strong>
      <span *ngIf="!editingDepartureDate" class="detail-value">{{ travelDetails.fechaSalida }} <i class="fas fa-pencil-alt edit-icon" (click)="editarCampo('fechaSalida')"></i></span>
      <input *ngIf="editingDepartureDate" type="date" [(ngModel)]="travelDetails.fechaSalida" class="detail-input" (blur)="guardarCampo('fechaSalida')" (keyup.enter)="guardarCampo('fechaSalida')" />
  </div>

  <div class="detail-row">
      <strong>Medio de Transporte:</strong>
      <span *ngIf="!editingTransport" class="detail-value">{{ getTransportName(travelDetails.medioTransporte) }} <i class="fas fa-pencil-alt edit-icon" (click)="editarCampo('medioTransporte')"></i></span>
      <select *ngIf="editingTransport" [(ngModel)]="travelDetails.medioTransporte" class="detail-input" (blur)="guardarCampo('medioTransporte')" (change)="guardarCampo('medioTransporte')">
          <option value="{{ Transporte.Tren }}">Tren</option>
          <option value="{{ Transporte.Avion }}">Avión</option>
          <option value="{{ Transporte.Micro }}">Micro</option>
      </select>
  </div>
  <button class="btn btn-primary save-button" >Asignar Pasajeros</button>

  <button class="btn btn-primary save-button" (click)="guardarCambios()">Guardar Cambios</button>
</div>
